html,body {
  padding:0;
  margin:0;
}
body {
    padding: 0.25rem 0.5rem;
    height:100vh;
    width:calc(100vw - 1.0rem);
}
input[type=file] {
  display:none;
}
.table td, .table th {
    padding: 0.25rem;
}
#canvasDisplay {
    height: calc(100% - 3.0rem);
}